apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: kafka
spec:
  type: NodePort
  selector:
    app: kafka
  ports:
    - name: broker
      port: 9092
      targetPort: 9092
      nodePort: 30003