apiVersion: v1
kind: Service
metadata:
  name: minio-s3
  namespace: minio
spec:
  type: LoadBalancer
  selector:
    app: minio
  ports:
    - port: 9002       # expõe o S3 server
      targetPort: 9002
---
apiVersion: v1
kind: Service
metadata:
  name: minio-console
  namespace: minio
spec:
  type: LoadBalancer
  selector:
    app: minio
  ports:
    - port: 9001       # expõe a UI
      targetPort: 9001